PORT=3000
DATABASE_URL="postgresql://postgres:password@localhost:5432/rent_easy_db?schema=public"
REDIS_HOST="localhost"
REDIS_PORT=6379
JWT_ACCESS_SECRET="your_access_token_secret"
JWT_REFRESH_SECRET="your_refresh_token_secret"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"
NODE_ENV=production
FRONTEND_URL="http://localhost:3001"